<% if @list.errors.any? %>
  <div id="error_explanation">
    <%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:
 
        <% @list.errors.full_messages.each do |msg| %>
                <%= msg %><br>
        <% end %>
  </div>
<% end %>

<div style="color:red;">
    <% if flash[:alert] %>
        <%= flash[:alert] %>
    <% end %>
</div>

<br>

<%= form_for(@list) do |f| %>

  <%= f.label :name, "Task List Name:" %><br>
  <%= f.date_select :name, order: [:month, :day, :year] %><br>

  <br>

  <%= f.submit %>

<% end %>