<div class="center jumbotron" style="float: right; width: 500px; height: 432px; overflow-x: hidden; overflow-x: auto; text-align:center;">

    <%= link_to "View All Lists", lists_path %> | <%= link_to "Edit This List", edit_list_path(@list) %> | <%= link_to "Delete This List", list_path(@list), method: :delete,
              data: { confirm: 'Are you sure?' } %>

    <br>

    <h3><%= @list.normalize_name %></h3><br>
        <hr>
            <% @list.tasks.each do |t| %>

                <% if t.completed == false %>
                    <li style="color:red;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(@list, t) %></li><br>
                <% else t.completed == true %>
                    <li style="color:green;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(@list, t) %></li><br>
                <% end %>
                
            <% end %>
</div>

<div class="center jumbotron" style="float: left;">

    <div style="color:red;">
          <% if flash[:alert] %>
            <%= flash[:alert] %>
          <% end %>
    </div>

    <h3>Add A New Task To This List:</h3>

    <br>

    <%= render "list_task_form" %>

</div>


