<div class="center jumbotron">

    <%= link_to "Edit This List", edit_list_path(@list) %> | <%= link_to "Delete This List", list_path(@list), method: :delete,
              data: { confirm: 'Are you sure?' } %>

    <br>

    <h3><%= @list.name.titlecase %></h3><br>

            <% @list.tasks.each do |t| %>
                <%= t.title %> - <%= t.content %> <%= link_to "View Task Details", list_task_path(@list, t) %><br>
            <% end %>
</div>

<div class="center jumbotron">

    <%= form_for :task, url: list_tasks_path(@list) do |f| %>

        <%= f.hidden_field :list_id, value: @list.id %>

        <%= f.label :title, "Enter A Title For This Task:" %><br>
        <%= f.text_field :title %>

        <br><br>

        <%= f.label :content, "Enter The Details For This Task:" %><br>
        <%= f.text_area :content, size: "50x3" %>

        <br>

        <%= f.submit %>

    <% end %>
</div>


