<h3>Enter Log In Information Below:</h3>

<%= form_for @employee, :url => {:controller => 'sessions', :action => 'create'} do |f| %>

    <%= f.label :email %><br>
    <%= f.email_field :email %>

    <br>

    <%= f.label :password %><br>
    <%= f.password_field :password %>

    <br><br>

    <%= f.submit "Log In" %>

<% end %>

<h4>Or Log In 
With</h4>

<%= link_to(image_tag("google2.jpg", :size => "50x50"), '/auth/google_oauth2') %>



<%= link_to(image_tag("fb2.png", :size => "50x50"), '/auth/facebook') %>
