<%= link_to "Edit Your Info", edit_employee_path(@employee) %> | <%= link_to "Delete Your Account", employee_path(@employee), method: :delete,
              data: { confirm: 'Are you sure?' } %>
<br>

<% if flash[:notice] %><br>
<%= flash[:notice] %><br>
<% end %>

<h3>Welcome <%= @employee.name %>, Here Are Your Tasks</h3>

<% @employee.tasks.each do |t| %>

    <%= t.list.normalize_name %> - <%= link_to t.title, list_task_path(t.list, t) %><br>
    
<% end %>
