<% if @task.errors.any? %>
  <div id="error_explanation">
    <%= pluralize(@task.errors.count, "error") %> prohibited this task from being updated:<br>
 
        <% @task.errors.full_messages.each do |msg| %>
                <%= msg %><br>
        <% end %>
  </div>
<% end %>

<br>

<%= form_for(@task) do |f| %>

  <%= f.hidden_field :list_id, value: @task.list %>

    <%= f.label :title, "Enter The Title For This Task:" %><br>
    <%= f.text_field :title %>

    <br><br>

    <%= f.label :address, "Enter The Address For This Task:" %><br>
    <%= f.text_field :address %>

    <br><br>

    <%= f.label :content, "Enter The Details For This Task:" %><br>
    <%= f.text_area :content, size: "50x3" %>

    <br><br>

    <%= f.label :completed, "Mark As Completed or Incomplete:" %><br>
    <%= f.select(:completed, [["Completed", true], ["Incomplete", false]]) %>

    <br><br>

    <%= f.label :list_id, "Move Task To A Different List:" %><br>
    <%= f.collection_select :list_id, List.all, :id, :normalize_name %>

    <br><br>

    <%= f.label :employee_id, "Assign This Task To An Employee:" %><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :name, {:prompt => "Select Employee"} %>

    <br><br>

    <%= f.submit %>

<% end %>