<% if @task.errors.any? %>
  <div id="error_explanation">
    <%= pluralize(@task.errors.count, "error") %> prohibited this task from being updated:
 
        <% @task.errors.full_messages.each do |msg| %>
                <%= msg %><br>
        <% end %>
  </div>
<% end %>

<br>

<%= form_for(@task) do |f| %>

    <%= f.label :title, "Edit The Title For This Task:" %><br>
    <%= f.text_field :title %>

    <br><br>

    <%= f.label :address, "Edit The Address For This Task:" %><br>
    <%= f.text_field :address %>

    <br><br>

    <%= f.label :content, "Edit The Details For This Task:" %><br>
    <%= f.text_area :content, size: "50x3" %>

    <br><br>

    <%= f.label :completed, "Mark As Completed or Incomplete:" %><br>
    <%= f.select(:completed, [["Completed", true], ["Incomplete", false]]) %>

    <br><br>

    <%= f.label :list_id, "Move Task To A Different List:" %><br>
    <%= f.collection_select :list_id, List.all, :id, :normalize_name %>

    <br><br>

    <%= f.submit %>

<% end %>