<% tasks.each do |t| %>

    <% if t.completed == false %>
        <% if t.employee == current_user %>
            <strong><li style="color:red;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li></strong><br>
        <% else %>
            <li style="color:red;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li><br>
        <% end %>
    <% else t.completed == true %>
        <% if t.employee == current_user %>
            <strong><li style="color:green;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li></strong><br>
        <% else %>
            <li style="color:green;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li><br>
        <% end %>
    <% end %>
                
<% end %>