<% if @list %>

    <%= link_to "Add A Task To This List", new_list_task_path(@list) %> | <%= link_to "Edit This List", edit_list_path(@list) %> | <%= link_to "Delete This List", list_path(@list), method: :delete,
              data: { confirm: 'Are you sure?' } %>

    <br>

    <h3><%= @list.normalize_name %></h3>

    This list was created by: <%= @list.created_by %>

    <hr>
                
<% else %>

    <h3>Here is a list of all tasks:</h3>

    <hr>

<% end %>
 
    <%= render partial: "task_completed", locals: {tasks: @tasks} %>


