<%= link_to "Add A Task To This List", new_list_task_path(@tasks[0].list) %> | <%= link_to "Edit This List", edit_list_path(@tasks[0].list) %> | <%= link_to "Delete This List", list_path(@tasks[0].list), method: :delete,
              data: { confirm: 'Are you sure?' } %>

    <br>

<h3><%= @tasks[0].list.normalize_name %></h3>

    This list was created by: <%= @tasks[0].list.created_by %>

        <hr>

        <% @tasks.each do |t| %>

            <% if t.completed == false %>
                <li style="color:red;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li><br>
            <% else t.completed == true %>
                <li style="color:green;"><%= t.title %> - <%= link_to "View Task Details", list_task_path(t.list, t) %></li><br>
            <% end %>
                
        <% end %>
 


