<% provide(:title, "Contact") %>

    <h1>Contact</h1>
    <p><strong>Todd O Neill</strong><br>
        Phone: (504) 644-1662<br>
        Or Send an Email:
    </p>

    <%= form_for @contact_message do |f| %>
        <label>Your Name:</label><br>
        <%= f.text_field :name %><br>

        <label>Your Email:</label><br>
        <%= f.text_field :email %><br>

        <label>Message:</label><br>
        <%= f.text_area :body %><br>

        <%= f.submit %>
    <% end %>
