<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "Fox Services", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if is_logged_in? %>
        <li><%= link_to "My Tasks", employee_path(current_user) %></li>
        <li><%= link_to "Task Lists", lists_path %></li>
        <li><%= link_to "New Task List", new_list_path %></li>
        <li><%= link_to "Log Out", session_path(:user_id), method: :delete %></li>
      <% else %>
        <li><%= link_to "Log In", new_session_path %></li>
        <li><%= link_to "Sign Up", new_employee_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", new_contact_message_path %></li>
        <li><%= link_to "Help", help_path %></li>
      <% end %>
      </ul>
    </nav>
</div>
</header>