<!DOCTYPE html>
<html>
  <head>

    <title><%= yield(:title) %> | Fox Services |</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <%= render 'layouts/header' %>

    <div class="container">

      <div class="center jumbotron" style="opacity: 0.95;">

        <div style="color:red;">
          <%= flash_alert %>
        </div>

        <div style="color:green;">
          <%= flash_notice %>
        </div>

        <%= yield %>

      </div>
      
    </div>
      
      <div class="container">
        <%= render 'layouts/footer' %>
      </div>

  </body>
</html>
