<!DOCTYPE html>
<html>
  <head>

    <title><%= yield(:title) %> | Fox Services |</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <%= render 'layouts/header' %>

      <div class="container">

        <div class="center jumbotron" style="opacity: 0.95; height: 500px; overflow-x: hidden; overflow-x: auto; text-align:center;">

          <div style="color:red;">
            <% if flash[:alert] %>
              <%= flash[:alert] %>
            <% end %>
          </div>

        <%= yield %>

        </div>

      </div>

      <div class="container">
        <%= render 'layouts/footer' %>
      </div>

  </body>
</html>